body{
    background-color: rgb(39, 7, 7);
    margin: 50px;
    color: rgb(226, 183, 41);
    font-family: 'Big Shoulders Display', cursive;
}
h1, h5{
    font-family: 'Vampiro One', cursive;
    text-shadow: 2px 2px 4px #000000;
}
.current-city{
    text-shadow: 0px 0px 0px;
}
.title-bar{
    background-color: rgb(156, 61, 16);
    border-radius: 15px; /*rounded boxes*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    line-height:150%;
}
.side-bar, .main-content{
    padding: 10px;
    
}
.wrapper{
    background-color: rgb(156, 61, 16);
    border-radius: 15px; /*rounded boxes*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    padding:20px;
    line-height:150%;
}
.btn{
    background-color:rgb(226, 183, 41);
    border-color: rgb(226, 183, 41);
}
.list-group, .card{
    color: rgb(124, 29, 29);
}
.search-history{
    margin-top:15px;
    font-style: oblique;
    font-size: larger;
}
.card{
    border-radius: 15px;
    box-shadow: 2px 2px 4px #00000094,2px 2px 4px #00000094;
}
.form-control, .btn, .list-group{
    box-shadow: 2px 2px 4px #00000094,2px 2px 4px #00000094;
}
.card-deck, .main-card{
    margin:5px;
}
.text-small{
    margin-bottom:8px;
    font-size: medium;
}
.five-day{
    margin: 15px;
}


