body{
    background-image: url("assets\fall-background.jpg");
    background-color: rgb(39, 7, 7);
    margin-left: 15px;
    margin-right: 15px;
    padding-right:20px;
    padding-left: 20px;
    color: rgb(226, 183, 41);
    font-family: 'Big Shoulders Display', cursive;

    background-image: url("fall-background.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment:fixed;
}
h1, h5{
    font-family: 'Vampiro One', cursive;
    text-shadow: 2px 2px 4px #000000;
}
.current-city{
    text-shadow: 0px 0px 0px;
}
.title-bar{
    background-color: rgb(156, 61, 16);
    border-radius: 15px; /*rounded boxes*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    line-height:150%;
    margin:15px;
    padding:20px;
    text-align: center;
    opacity:95%;
}
.lead{
    margin-bottom: 8px;
}
.page-content{
    margin-top:177px;
    margin-bottom: 0px;
}
.side-bar, .main-content{
    padding: 10px;
    
}
.wrapper{
    background-color: rgb(156, 61, 16);
    border-radius: 15px; /*rounded boxes*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    padding:20px;
    line-height:150%;
    opacity:95%;
}
.btn{
    background-color:rgb(226, 183, 41);
    border-color: rgb(226, 183, 41);
}
.btn:hover{
    background-color: rgb(39, 7, 7);
    border-color: rgb(39, 7, 7);
}
.list-group, .card{
    color: rgb(124, 29, 29);
}
.search-history{
    margin-top:15px;
    font-style: oblique;
    font-size: larger;
}
.card{
    border-radius: 15px;
    box-shadow: 2px 2px 4px #00000094,2px 2px 4px #00000094;
}
.form-control, .btn, .list-group{
    box-shadow: 2px 2px 4px #00000094,2px 2px 4px #00000094;
}
.card-deck, .main-card{
    margin:5px;
}
.text-small{
    margin-bottom:8px;
    font-size: medium;
}
.five-day{
    margin: 15px;
}


