h1{
    font-size: 32px;
}
h1, h5{
    text-shadow: 2px 2px 4px #000000; 
    font-family: 'Vampiro One', cursive;
}
body{
    background-color: rgb(39, 7, 7); 
    background-image: url("assets\fall-background.jpg"); 
    background-image: url("fall-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Big Shoulders Display', cursive;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 20px; 
    padding-right: 20px;
}
.severe{
    background-color: rgb(190, 35, 35);
}
.severe, body{
    color: rgb(226, 183, 41);
}
.search-history{
    font-style: oblique; 
    margin-top: 15px;
}
.page-content{
    margin-bottom: 0px; 
    margin-top: 168px;
}
.modal-content, .title-bar, .wrapper{
    background-color: rgb(156, 61, 16);
    border-radius: 15px; /*rounded boxes*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    opacity: 95%;
    padding: 20px;
}
.mild{
    background-color: rgb(28, 219, 11); 
    color: black;
}
.mild, .moderate, .severe, .title-bar, .card-deck{
    text-align: center;
}
.list-group-item:hover{
    border-color: rgb(39, 7, 7);
}
.lead, .text-small{
    margin-bottom: 8px;
}
.day-0, .day-1, .day-2, .day-3, .day-4{
    width: 200px;
}
.current-forecast, .five-day, .title-bar{
    margin: 15px;
}
.current-city, .forecast-day{
    text-shadow: 0px 0px 0px;
}
.card, .mild, .moderate, .severe, .weather-icon{
    border-radius: 15px;
}
.card, .list-group, .moderate{
    color: rgb(124, 29, 29);
}
.card-deck, .main-card{
    margin: 5px;
}
.card-body, .side-bar, .main-content{
    padding: 10px;
}
.btn{
    border-color: rgb(226, 183, 41);
}
.btn:hover, .btn:active{
    background-color: rgb(39, 7, 7) !important; 
    border-color: rgb(39, 7, 7) !important;
}
.btn, .moderate, .weather-icon{
    background-color: rgb(226, 183, 41);
}
.btn, .card, .form-control, .list-group{
    box-shadow: 2px 2px 4px #00000094,2px 2px 4px #00000094;
}

@media screen and (max-width: 768px) {
    .page-content{
        margin-top:244px;
    }  
}
